
<!DOCTYPE html>
<html>
<head>
  <title>CatjiraLandingPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <meta name="title" content="Flat Startup Bootstrap Theme by The Pete Design" />
  	<meta name="description" content="Flat UI Startup Theme for Boostrap Framework created by The Pete Design" />
  	<link rel="image_src" href="/images/flat_startup_theme_image.jpg" />

  	<meta content="Flat Startup Bootstrap Theme by The Pete Design" property="og:title" />
  	<meta content="Flat UI Startup Theme for Boostrap Framework created by The Pete Design" property="og:description" />
  	<meta content="http://www.thepetedesign.com/flat_startup_theme" property="og:url" />
  	<meta content="http://www.iamnotchinese.co/images/flat_startup_theme_image.jpg" property="og:image" />

  	<meta name="author" content="Pete R.">
  	<link rel="canonical" href="http://www.iamnotchinese.co/" />

  	
  	<link rel="stylesheet" href="css/animate.css">
  	<meta name="HandheldFriendly" content="true" />
  
    <!-- Bootstrap core CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=386496834740212";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
   </script>
</head>
<body class="fus-red">
	<%= render "shared/nav" %>
	<%= yield %>
	<!--this introduces everything in index.html.erb-->
	<footer class="fus-section"> 
      <div class="fus-overlay"></div>
      <div class="container">
        <ul class="list-inline">
          <li><a class="scrollto" href="#about">About</a></li>
          <li><a class="scrollto" href="#blog">Features</a></li>
        </ul>
        <div class="credit">
          <a href="#top" class="scrollto" class="footer-brand">Startup</a>

          <p>Built by <a href="http://www.thepetedesign.com" target="_blank">ThePeteDesign.com</a></p>
    
        </div>
      </div>
    </footer>
           <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-11278966-2', 'iamnotchinese.co');
        ga('send', 'pageview');
    
      </script>

</body>
</html>
